nav ul li a{
color: #007FFF;
}

nav ul li a:hover{
color: orange;
font-weight: bold;
}

.dropdown-item:hover{
color: orange;
font-weight: bold;
}

header div, header nav {
  display:inline-block;
  vertical-align:middle;
  color: #FF155A;
}
