body{
background: url("images/background.jpg") no-repeat;
background-attachment: fixed;
background-size: cover;
margin:0%;
padding:0%;
}

.container{
background-color: white;
border-radius: 20px;
padding: 0px 30px 0px 30px;
/*margin: 30px 0px 30px 225px;*/
margin-top:30px;
margin-bottom: 30px;
border: 1px solid #d63031;
}

/*-- Resize pictures and keeps aspect ratio --*/
.carousel-item{
  max-width:200px;
  max-height:350px;
  width: auto;
  height: auto;
}
/*-- makes indicators seeable even with white background --*/
#carousel-indicators li{
  border-style: solid;
  border-width:1px;
  border-color: black;
}


/*----Pour déplacer le logo et le titre vers la droite------*/

.logo{
width:50px;
}

#title{
transform:translateX(6em);
}

/*----Element(s) de Formulaire(s) à "cacher"----*/
#promoHide, #bioHide, #btnUpdateComment, #uploadHide, #btnCancelComment{
	display:none;
}

.scrollable {
  max-height: 250px; /* or any value */
  overflow-y: auto;
}

.success{
  display:none;
  color:green;
}

.error{
display:none;
color:red;
}

/*----------------Bouton like--------------------*/
.likeButtonLiked{
	border-style:solid;
	border-radius:5px;
	color:#3498db;
}
.likeButton, .addPicture{
	border-style:solid;
	border-radius:5px;
	color:black;
}
.likeButton:hover, .likeButtonLiked:hover{
	background-color:lightgrey;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*--------icone de connexion (login)--------------*/
#login-icone{
float:right;
margin-top: 1.5%;
color: #3498db/*#34ace0*/;
}

#login-icone:hover{
color: orange;
}


/*----------------------Menu---------------------*/

nav ul li a{
color: #007FFF;
}

nav ul li a:hover{
color: orange;
font-weight: bold;
}

.dropdown-item:hover{
color: orange;
font-weight: bold;
/*z-index: 1000;*/
}

header div, header nav {
  display:inline-block;
  vertical-align:middle;
  color: #FF155A;
}

/*----------Liste de vin(sélectionner un vin)------------*/
#winesList li{
    cursor: pointer;
}
